.button {
  @extend .control;

  display: block;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 4px;
  color: findColorInvert($white);
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: darken($white, 5%);
  }

  @each $name, $color in $colors {
    $color-invert: findColorInvert($color);
    $color-darked: darken($color, 5%);

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;

      &:hover {
        background-color: $color-darked;
      }
    }

  }

}


.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .button {
    display: block;
  }
}


@media only screen and (min-width: 768px) {
  // Desktops
  .button {
    width: auto;
  }

  .buttons {
    flex-direction: row;

    .button {
      flex: 1;
      flex-grow: 0;
      white-space: nowrap;
    }

    &.is-center {
      justify-content: center;
    }

    &.is-justified {
      justify-content: space-between;

      .button {
        flex-grow: 1;
      }
    }

    &.is-right {
      justify-content: flex-end;
    }

    &.is-together {
      .button {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
          margin-right: 0.5rem;
        }
      }
    }

  }

}
