
.table {

  th, td {
    background-color: $white;
    padding: 1rem;
  }

  th {
    font-family: "Raleway", sans-serif;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-narrow th,
  &.is-narrow td  {
    padding: 0.5rem 1rem;
  }

  &.is-striped tr:nth-of-type(odd) td {
    background-color: $light;
    color: findColorInvert($light);
  }

  @each $name, $color in $colors {
    $color-invert: findColorInvert($color);
    $color-darked: darken($color, 5%);

    tr.is-#{$name} td {
      background-color: $color;
      color: $color-invert;
    }
  }

}
